GROQ_API_KEY=your_groq_api_key_here

MONGO_URI=mongodb://localhost:27017/healthbridge

MONGO_USER=healthbridge
MONGO_PASSWORD=1234

JWT_SECRET=53fec21704da4c1fe3cc11f37ea9acf6235e0ab1c5bf043a28a794709fb8253b
PORT=5000
